body {
  background-image: url(./project-source-folder/background-wallpaper.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.button {
  box-sizing: border-box;
  padding: 15px;
  max-width: 130px;
	min-width: 130px;
  background: rgba(92, 22, 22, 0.502);
  border-radius: 20px;
	border-width: 5px;
	border-color: black;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
	font-family: 'Bubblegum Sans', cursive;
	font-size: 20px;
}
span {
	font-size: 30px;
}

/* .button:hover, */
.button:focus,
.button:active {
  border-color: yellow;
  font-size: 1rem;
  transition: all 0.1s ease-in;
}

.container {
	max-width: 1200px;
	margin: auto;
	margin-top: 20%;
	padding: 0px 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  justify-content: space-evenly;
  padding-left: 5%;
	padding-right: 5%;
}
 @media (max-width:1200px) {
	.container {
		max-width: 970px;
	}
 }
 @media (max-width:992px) {
	.container {
		max-width: 750px;
	}
 }
 @media (max-width:767px) {
	.container {
		max-width: 500px;
	}
 }
 @media (max-width:340px) {
	.container {
		max-width: none;
		margin-top: 0;
	}
 }
